h1 {
	color: #3a241d;
	text-align: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('assets/xiaide.mp4') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);  /* 白色 + 60% 不透明度 */
    color: #ffffff;
}
footer a {
    color: white;
    text-decoration: none; /* 可选：去掉下划线 */
}
video.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
  }
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    text-align: center;
    z-index: 1; /* 确保文本在视频上方 */
    width: 100%; /* 设置容器宽度为 80% */
    white-space: nowrap; /* 允许文本换行 */
    font-family: 'Pacifico', Comic Sans MS; /* 设置字体 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 添加阴影 */
}
.centered-text2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: center;
    z-index: 1; /* 确保文本在视频上方 */
    width: 80%; /* 设置容器宽度为 80% */
    max-width: 600px; /* 可选：限制最大宽度 */
    white-space: nowrap; /* 允许文本换行 */
    font-family: 'shoujin', sans-serif; /* 设置字体 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 添加阴影 */
}
@font-face {
    font-family: 'shoujin';
    src: url('assets/fonts/shoujin.woff') format('woff'),
         url('assets/fonts/shoujin.ttf?v=1') format('truetype');
    font-weight: normal;
    font-style: normal;
}